# Deploy to PROD by tagging a commit with version string (e.g., 1.2.3)
name: Deploy With Tag
on:
  workflow_dispatch:
    inputs:
      jira_ticket:
        description: 'Release management Jira ticket'
        required: true
        type: string
      commit_sha:
        description: 'Full or short git SHA of the commit to tag and deploy'
        required: true
        type: string
      tag:
        description: 'Tag value to use (e.g., 1.2.3)'
        required: true
        type: string
permissions:
  id-token: write
  contents: write
jobs:
  push-tag:
    name: Push Tag to Commit
    runs-on: [self-hosted, prod, kubernetes]
    steps:
      - name: Checkout commit
        uses: finix-payments/finix-github-actions/actions/git-sha-checkout@main
        id: checkout
        with:
          commit_sha: ${{ inputs.commit_sha }}
      - name: Configure Git
        run: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@github.com
      - name: Push Tag
        run: |
          SHORT_SHA=${{ steps.checkout.outputs.short_sha }}
          TAG=${{ inputs.tag }}

          echo "Tagging commit $SHORT_SHA with tag $TAG"
          git tag $TAG $SHORT_SHA
          git push origin $TAG
          echo "Successfully pushed tag $TAG to commit $SHORT_SHA"
  close-rm-ticket:
    runs-on: [self-hosted, prod, kubernetes]
    needs: push-tag
    steps:
    - name: Close RM ticket and post comment
      uses: finix-payments/finix-github-actions/actions/post-deployment-jira-close@main
      with:
        jira_ticket: ${{ inputs.jira_ticket }}
        jira_user: ${{ secrets.JIRA_USER }}
        jira_pat: ${{ secrets.JIRA_PAT }}
        environment: prod
